<footer class="pt-5">
    <section style="background-color: #003F7F;">
        <div class="container text-center p-4">
            <div class="row pt-4">
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 text-white text-start">
                    <h2>MyJobz</h2>
                    <p>No:5/310,Pilaiyar Kovil Street,
                        Thoraipakkam,
                        Chennai-600097<br>
                        India<br>
                        (+91) 9339-8008-90<br>
                        support@myjobz.com</p>

                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 text-start text-white">
                    <h5>For Candidates</h5>
                    <p>Find Jobs</p>
                    <p>Companies</p>
                    <p>Application</p>

                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 text-start text-white">
                    <h5>For Employer</h5>
                    <p>Dashboard</p>
                    <p>Candidates</p>
                    <p>Manage Jobs</p>
                    <p>Post a Job</p>


                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 text-start text-white">
                    <h5>For Agency</h5>
                    <p>Find Jobs</p>
                    <p>Companies</p>
                    <p>Candidates</p>
                    <p>Application</p>

                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 text-start text-white">
                    <h5>Resources</h5>
                    <p>Blog</p>
                    <p>Contact Us</p>
                    <p>Report Issues</p>
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                    <p>FAQS</p>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 text-white">
                    <h5>get apps</h5>
                    <div class="row">
                        <div class="col text-end">
                            <i class="bi bi-apple"></i>
                        </div>
                        <div class="col text-start">
                            <i class="bi bi-google-play"></i>
                        </div>
                    </div>
                    <div>
                        <div class="row pt-3">
                            <div class="col">
                                <i class="bi bi-linkedin"></i>
                            </div>
                            <div class="col">
                                <i class="bi bi-instagram"></i>
                            </div>
                            <div class="col">
                                <i class="bi bi-twitter"></i>
                            </div>
                            <div class="col">
                                <i class="bi bi-tiktok"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>


