<section class="container p-5 bg1 rounded-3">
    <div class="">
        <h5 class="text-primary">Add Employer Profile</h5>
        <span>Add your company profile page info.</span>
    </div>
    <div>
        <form class="row g-3 pt-5">
            <div class="col-md-12">
                <label for="exampleFormControlInput1" class="form-label">
                    <h6>Company Name <span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control rounded-5" id="exampleFormControlInput1">
            </div>
            <!-- second column -->
            <div class="col-md-4 pt-3">
                <label for="validationDefault01" class="form-label">
                    <h6>EMAIL <span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control rounded-pill" id="validationDefault02" placeholder="examble@gmail.com"
                    required>
            </div>
            <div class="col-md-4 pt-3">
                <label for="validationDefault02" class="form-label">
                    <h6>WEBSITE <span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control rounded-pill" id="validationDefault02" placeholder="www.Foxconn.com" required>
            </div>
            <div class="col-md-4 pt-3">
                <label for="validationDefault01" class="form-label">
                    <h6>PHONE<span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control rounded-pill" id="validationDefault02" placeholder="1234567890" required>
            </div>
            <!-- third column -->
            <div class="col-md-12 pt-3">
                <label for="validationDefault01" class="form-label">
                    <h6>Who Are We<span class="text-danger">*</span></h6>
                </label>
                <textarea class="form-control rounded-5" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></textarea>
            </div>
            <!-- fourth column -->
            <div class="col-md-4 pt-3">
                <label for="validationDefault01" class="form-label">
                    <h6>INDUSTRY <span class="text-danger">*</span></h6>
                </label>
                <select class="form-select rounded-pill" id="validationDefault04" required>
                    <option selected disabled value="">Add title</option>
                    <option>Software</option>
                    <option>Manufacute</option>
                    <option>Contract</option>
                </select>
            </div>
            <div class="col-md-4 pt-3">
                <label for="validationDefault02" class="form-label">
                    <h6>FOUNDED IN <span class="text-danger">*</span></h6>
                </label>
                <select class="form-select rounded-pill" id="validationDefault04" required>
                    <option selected disabled value="">year</option>
                    <option>2022</option>
                    <option>2021</option>
                    <option>2020</option>
                </select>
            </div>
            <div class="col-md-4 pt-3">
                <label for="validationDefault01" class="form-label">
                    <h6>COMPANY SIZE<span class="text-danger">*</span></h6>
                </label>
                <select class="form-select rounded-pill" id="validationDefault04" required>
                    <option selected disabled value="">Small Size</option>
                    <option>Small Scale</option>
                    <option>Large</option>
                    <option>Medium</option>
                </select>
            </div>
            <div>
                <h5 class="text-primary">Company Location</h5>
            </div>
            <!-- Fifth column -->
            <div class="col-md-4 pt-3">
                <label for="validationDefault01" class="form-label">
                    <h6>ADDRESS LINE 1 <span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control rounded-pill" id="validationDefault02" required>
            </div>
            <div class="col-md-4 pt-3">
                <label for="validationDefault02" class="form-label">
                    <h6>ADDRESS LINE 2</h6>
                </label>
                <input type="text" class="form-control rounded-pill" id="validationDefault02" required>
            </div>
            <!-- Sixth Column -->
            <div class="row">
                <div class="col-md-4 pt-3">
                    <label for="validationDefault01" class="form-label">
                        <h6>STATE <span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select rounded-pill" id="validationDefault04" required>
                        <option selected disabled value="">Select the State</option>
                        <option>TamilNadu</option>
                        <option>Kerala</option>
                        <option>Kanada</option>
                    </select>
                </div>
                <div class="col-md-4 pt-3">
                    <label for="validationDefault02" class="form-label">
                        <h6>DISTRICT <span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select rounded-pill" id="validationDefault04" required>
                        <option selected disabled value="Select your District">Select your District</option>
                        <option>Chennai</option>
                        <option>Madurai</option>
                        <option>Theni</option>
                    </select>
                </div>
                <div class="col-md-4 pt-3">
                    <label for="validationDefault02" class="form-label">
                        <h6>CITY <span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select rounded-pill" id="validationDefault04" required>
                        <option selected disabled value="">Select your city</option>
                        <option>Chrompet</option>
                        <option>Navaloor</option>
                        <option>Palaravam</option>
                    </select>
                </div>
            </div>
            <!-- Seven Column -->
            <div class="col-md-4 pt-3">
                <label for="validationDefault01" class="form-label">
                    <h6>LINKEDIN <span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control rounded-pill" id="validationDefault02" placeholder="www" required>
            </div>
            <div class="col-md-4 pt-3">
                <label for="validationDefault02" class="form-label">
                    <h6>YouTube <span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control rounded-pill" id="validationDefault02" placeholder="www" required>
            </div>
        </form>
        <div class="form-check pt-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                By clicking Register,you agree to the Terms and Condition &Privacy Policy of Myjobs 
            </label>
        </div>
        <!-- Buttons -->
        <div class="pt-5">
            <div class="d-grid gap-2 d-md-block w-25 d-flex">
                <button class="btn btn-primary" type="button">Register</button>
                <button class="btn btn-light float-end text-primary border border-info" type="button">Cancel</button>
            </div>
        </div>
    </div>
</section>