<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Language
</button> -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="p-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="text-center pb-4 text-primary">Choose your Language</h4>
                <div class="row pb-5 text-center">

                    <div class="col-4 col-md-4">
                        <a href="#"><button type="button" class="btn btn-light  d-flex"><img src="/assets/images/english.svg">
                                English</button></a>
                    </div>
                    <div class="col-4 col-md-4">
                        <a href="#"><button type="button" class="btn btn-light"> <img src="/assets/images/tamil.svg">
                                Tamil</button></a>
                    </div>
                    <div class="col-4 col-md-4">
                        <a href="#"><button type="button" class="btn btn-light"> <img src="/assets/images/hindi.svg">
                                Hindi</button></a>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="d-flex justify-content-center">
                        <div class="col-4 col-md-4">
                            <a href="#"><button type="button" class="btn btn-light"><img src="/assets/images/telugu.svg">
                                    Telugu</button></a>
                        </div>
                        <div class="col-4 col-md-4">
                            <a href="#"><button type="button" class="btn btn-light d-flex"><img src="/assets/images/kannadam.svg">
                                    Kannada</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>