<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="">
                <h5 class="text-primary">Enter your details</h5>
            </div>
            <div>
                <form>
                    <!-- first column -->
                    <div class="col-md-5 pt-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Full Name<span class="text-danger">*</span></h6>
                        </label>
                        <input type="text" class="form-control rounded-5" id="exampleFormControlInput1">
                    </div>
                    <!-- second Column -->
                    <div class="row">
                        <div class="col-md-5 pt-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <h6>EMAIL ADDRESS</h6>
                            </label>
                            <input type="email" class="form-control rounded-5" id="exampleFormControlInput1"
                                placeholder="example@gmail.com">
                        </div>
                        <div class="col-md-5 pt-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <h6>CONTACT NUMBER <span class="text-danger">*</span></h6>
                            </label>
                            <div class="input-group">
                                <span class="input-group-text border-left" id="basic-addon1"><i
                                        class="bi bi-telephone-fill"></i></span>
                                <input type="text" class="form-control border-right" placeholder="95020-586-21"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <!--Third Column -->
                    <div class="row">
                        <div class="col-md-5 pt-3">
                            <label for="validationDefault01" class="form-label">
                                <h6>GENDER<span class="text-danger">*</span></h6>
                            </label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                    value="option3">
                                <label class="form-check-label" for="inlineRadio3">All</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                    value="option3">
                                <label class="form-check-label" for="inlineRadio3">Others</label>
                            </div>
                        </div>
                        <div class="col-md-5 pt-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                <h6>DATE OF BIRTH <span class="text-danger">*</span></h6>
                            </label>
                            <input type="date" class="form-control rounded-5" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <!-- Fourth Column -->
                    <div class="row">
                        <div class="col-md-5 pt-3">
                            <label for="validationDefault01" class="form-label">
                                <h6>Industrial Preference <span class="text-danger">*</span></h6>
                            </label>
                            <select class="form-select rounded-pill" id="validationDefault04" required>
                                <option selected disabled value=""></option>
                                <option>Software</option>
                                <option>Engineering</option>
                                <option>Man Power</option>
                            </select>
                        </div>
                        <div class="col-md-5 pt-3">
                            <label for="validationDefault02" class="form-label">
                                <h6>Job Type <span class="text-danger">*</span></h6>
                            </label>
                            <select class="form-select rounded-pill" id="validationDefault04" required>
                                <option selected disabled value=""></option>
                                <option>Permanant</option>
                                <option>Contract</option>
                                <option>Temporary</option>
                            </select>
                        </div>
                    </div>
                    <!-- Fifth Column -->
                    <div class="row">
                        <div class="col-md-5 pt-3">
                            <label for="validationDefault01" class="form-label">
                                <h6>Over All Experience <span class="text-danger">*</span></h6>
                            </label>
                            <select class="form-select rounded-pill" id="validationDefault04" required>
                                <option selected disabled value=""></option>
                                <option>Software</option>
                                <option>Engineering</option>
                                <option>Man Power</option>
                            </select>
                        </div>
                        <div class="col-md-5 pt-3">
                            <label for="validationDefault02" class="form-label">
                                <h6>Last Drawn Salary <span class="text-danger">*</span></h6>
                            </label>
                            <select class="form-select rounded-pill" id="validationDefault04" required>
                                <option selected disabled value=""></option>
                                <option>Permanant</option>
                                <option>Contract</option>
                                <option>Temporary</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Default switch -->
                        <div class="col-md-5 pt-3">
                            <label for="validationDefault02" class="form-label">
                                <h6>WORK STATUS <span class="text-danger">*</span></h6>
                            </label>
                            <div>
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1"
                                        autocomplete="off" checked>
                                    <label class="btn btn-outline-primary border-left" for="btnradio1">I’AM EXPERIENCED</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2"
                                        autocomplete="off">
                                    <label class="btn btn-outline-primary border-right" for="btnradio2">I’AM FRESHER</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 pt-3">
                            <label for="validationDefault02" class="form-label">
                                <h6>RESUME <span class="text-danger">*</span></h6>
                            </label>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control rounded-pill" id="inputGroupFile02">
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Buttons -->
                <div class="pt-5 pb-5">
                    <div class="d-grid gap-2 d-md-block d-flex">
                        <button class="btn btn-primary rounded-pill" type="button">RIGISTER PROFILE</button>
                        <button class="btn btn-light float-end text-primary border border-info rounded-pill"
                            type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div>
                <div class="card col border-0 p-3">
                    <div class="card-body ">
                        <div class="text-center">
                            <img src="/assets/images/ashok.png">
                            <p class="tw-6">Ashok Layland is Hiring</p>
                            <button type="button" class="btn btn-primary btn-sm rounded-pill">Click to See More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card border-0 mt-4">
                    <img src="/assets/images/ads.png" width="95%">
                </div>
            </div>
        </div>
    </div>
</section>