<section class="container p-5 bg1 rounded-3">
    <div class="">
        <h5 class="text-primary">New Job Offer</h5>
        <span>Add a new job to your company’s jobs list.</span>
    </div>
    <div>
        <form class="row g-3 pt-5">
            <!-- first column -->
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">
                    <h6>JOB TITLE <span class="text-danger">*</span></h6>
                </label>
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Add title</option>
                    <option>Plumber</option>
                    <option>Welder</option>
                    <option>Painter</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">
                    <h6>NO OF VACANCYE <span class="text-danger">*</span></h6>
                </label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Vacancy" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">
                    <h6>CATEGORY<span class="text-danger">*</span></h6>
                </label>
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Aircraft</option>
                    <option>Aircraft</option>
                    <option>Contracter</option>
                    <option>Engineer</option>
                </select>
            </div>
            <!-- second Column -->
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">
                    <h6>STATE<span class="text-danger">*</span></h6>
                </label>
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Select Your State</option>
                    <option>TamilNadu</option>
                    <option>Kerala</option>
                    <option>Andhra</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">
                    <h6>DISTRICT <span class="text-danger">*</span></h6>
                </label>
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Select Your District</option>
                    <option>chennai</option>
                    <option>Kanayakumari</option>
                    <option>Trinelveli</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">
                    <h6>CITY<span class="text-danger">*</span></h6>
                </label>
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Select Your City</option>
                    <option>Navaloor</option>
                    <option>Thoraipakkam</option>
                    <option>Chennai One</option>
                </select>
            </div>
            <!-- Third Column -->
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">
                    <h6>GENDER<span class="text-danger">*</span></h6>
                </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="option3">
                    <label class="form-check-label" for="inlineRadio3">All</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="option3">
                    <label class="form-check-label" for="inlineRadio3">Others</label>
                </div>
            </div>
            <!-- Fourth Column -->
            <div class="row pt-3">
                <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">
                        <h6>JOB DESCRIPTION<span class="text-danger">*</span></h6>
                    </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></textarea>
                </div>
                <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">
                        <h6>Roles and responsiblity</h6>
                    </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <!-- Fifth Column -->
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">
                    <h6>Skills<span class="text-danger">*</span></h6>
                </label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>

            <!-- Seventh column -->
            <div>
                <div class="col-md-4">
                    <label for="validationDefault02" class="form-label">
                        <h6>Education <span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value="">Select Education Type</option>
                        <option>HSC</option>
                        <option>SSLC</option>
                        <option>None</option>
                    </select>
                </div>
            </div>
            <!-- Eight Column -->
            <div class="row pt-3">
                <div class="col-md-3">
                    <label for="validationDefault02" class="form-label">
                        <h6>EXPERIENCE<span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value="">Experiece Type</option>
                        <option>1 Yr</option>
                        <option>3-5 Yr</option>
                        <option>5 Yr</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="validationDefault02" class="form-label">
                        <h6>CAREER LEVEL <span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value="">Career Level</option>
                        <option>Experiece</option>
                        <option>fresher</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="validationDefault02" class="form-label">
                        <h6>EMPLOYMENT TYPE <span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value="">Emp Type</option>
                        <option>Full Time</option>
                        <option>Part Time</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="validationDefault02" class="form-label">
                        <h6>SALARY RANGE / ANNUM * <span class="text-danger">*</span></h6>
                    </label>
                    <select class="form-select" id="validationDefault04" required>
                        <option selected disabled value="">Select Your Salary</option>
                        <option>2700Rs - 30000Rs</option>
                        <option>1700Rs - 21000Rs</option>
                        <option>10000Rs - 15000Rs</option>
                    </select>
                </div>
            </div>
        </form>
        <!-- Buttons -->
        <div class="pt-5">
            <div class="d-grid gap-2 d-md-block w-25 d-flex">
                <button class="btn btn-primary" type="button">POST JOB</button>
                <button class="btn btn-light float-end text-primary border border-info" type="button">Cancel</button>
            </div>
        </div>
    </div>
</section>